main {
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: 500px;
  width: 90%;
  margin: 0 auto 30px;
  font-family: $font2;

  form {
    font-size: 1.1rem;
    display: grid;
    gap: 18px;
    padding: 60px 50px;
    grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
    background: #da6803;
    border-radius: 50px;
    color: white;

    textarea,
    input[type="text"],
    input[type="email"] {
      background: #da6803;
      border-radius: 20px;
      border: whitesmoke 1px solid;
      resize: none;
      color: white;
      padding: 12px 15px; /* espace intérieur */
      box-sizing: border-box;
      font-family: $font2;
      outline: none;
    }
    .btn {
      font-size: 0.8rem;
      background: #da2e03ee;
      width: 150px;
      height: 45px;
      display: block;
      margin: 20px auto;
    }
  }
}

.contactForm {
  h1 {
    width: 90%;
    font-size: 2.7rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  p {
    font-size: 1.2rem;
    width: 90%;
    line-height: 1.6;
    margin-bottom: 70px;
  }
}
